*{margin: 0;padding: 0;}
header,nav,main,section,footer,aside,article,div
{
    display: block;
}

a{
    text-decoration:none;
}

a:hover
{
    text-decoration: underline blue;
}

body{
    background: #171932;
}
/**************************HEADER*************************/
header
{
width: 100%;
height:96px;

}
#logo
{
    background: url(../images/icon1.png) no-repeat left;
    background-size: contain;
    width: 48px;
    height: 48px;
    margin-top: 16px;
    margin-left: 16px;
    display: block;
}
#logo span
{
    width: 322px;
    height: 40px;
    padding-left: 64px;
    font-family: cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
}

/**************************MAIN*******************************/

.section1 h1 {
    margin-top:11px;
    padding-left: 16px;
    font-family: cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 52px;
    
    color: #FFFFFF;
    
}
.section1 h1 span
{
    margin-top: 20px;
    padding-left: 18px;
    font-family: cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.main-images
{
    width: 270px;
    height: 275px;
    margin-left: 16px;
    margin-top: 18px;
    float: left;
}

.rictangle
{
    width: 270px;
    height: 60px;
    background: #9B51E0;
    box-shadow: 0px 2px 7px rgba(255, 255, 255, 0.3);
}

.rictangle a
{
    margin-top: 21px;
    margin-left: 10px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    float: left;
}
.rictangle span
{
    
    margin-top: 21px;
    display: block;
    float: left;
}
#icon1
{
    background: url(../images/Vector\ \(2\).png) no-repeat left;
    width: 13px;
    height: 19px; 
    margin-left: 19px;
}
#icon2
{
    background: url(../images/Vector\ \(1\).png) no-repeat left;
    width: 19px;
    height: 19px;
    margin-left: 10px;
}
#icon3
{
    background: url(../images/Vector.png) no-repeat left;
    width: 31px;
    height: 19px;
    margin-left: 10px;
}
#setting-icon
{
    background: url(../images/Vector\ \(3\).png) no-repeat left;
    width: 19px;
    height: 19px;
    margin-right: 10px;
    float: right;
}

/************************** FOOTER************************/
footer
{
    margin-top: 69px;
    width: 100%;
    height: 48px;
    background: #9B51E0;
    float: left;
}

.lastsection a img
{
    width: 16px;
    height: 14px;
    margin-top: 17px;
    margin-left: 20px;
}

/*****************second********************/

.first-photos img
{
    margin-left: 20px;
    margin-bottom: 41px; 
}

#tt
{
    
    margin-left: 17px;
    margin-bottom: 41px;
    
}
#tt2
{
    
    margin-left: 17px;
    margin-bottom: 0px;
}
.section1 nav
{
    width: 678px;
    height: 33px;
    margin-left: 17px;
    margin-top: 23px;
    
}
.section1 nav a
{
    font-family: cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}
.section1 p
{
    width: 367px;
    margin-left: 17px;
    margin-top: 50px;
    font-family: cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.section1 ul{
    margin-top:30px;
}

#logo1
{
    background: url(../images/icon1.png) no-repeat left;
    background-size: contain;
    width: 48px;
    height: 48px;
    margin-top: 8px;
    margin-left: 16px;
    display: block;
}

#logo1 span
{
    
    width: 60px;
    height: 14px;
    font-family: cursive;
    margin-top: 20px;
    margin-left: 64px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    float: left;
}

#section3 
{
    width: 206px;
    height: 43px;
    margin-top: 71px;
    margin-left: 16px;
    font-family: cursive;
    font-style: normal;

    font-size: 30px;
    line-height: 41px;

    text-transform: uppercase;
    color: #FFFFFF;
}
.text
{
width: 367px;
height: 132px;
margin-left: 17px;
margin-top: 16px;
font-family: cursive;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
color: #FFFFFF;
}
#section4 
{
    width: 206px;
    height: 43px;
    margin-top: 71px;
    margin-left: 16px;
    font-family: cursive;
    font-style: normal;

    font-size: 30px;
    line-height: 41px;

    text-transform: uppercase;
    color: #FFFFFF;
}
#section5 
{
    width: 206px;
    height: 43px;
    margin-top: 71px;
    margin-left: 16px;
    font-family: cursive;
    font-style: normal;

    font-size: 30px;
    line-height: 41px;

    text-transform: uppercase;
    color: #FFFFFF;
}
#section2
{
    width: 206px;
    height: 43px;
    margin-top: 45px;
    margin-left: 16px;
    font-family: cursive;
    font-style: normal;

    font-size: 30px;
    line-height: 41px;

    text-transform: uppercase;
    color: #FFFFFF;
}






